.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(46, 16, 46);
    height: 3rem;
    padding: 0.2rem;
    margin: 0;
    z-index: 1;
}

.nav_fixed {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.div_nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon_nav {
    width: auto;
    height: 2.5rem;
    margin-top: 0.2rem;
    margin-right: 1.5rem;
}

.title_nav {
    color: rgb(150, 150, 150);
    font-weight: 700;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.link_nav {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    font-weight: 600;
    margin-left: 2rem;
    margin-right: 2rem;
}
