.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(13,23,38,.5843137254901961);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
}