.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(46, 16, 46);
    height: 5%;
    padding: 0.5rem 2rem;
    margin: 0;
    z-index: 1;
}

.icon_nav {
    width: 3%;
    height: auto;
    margin: 0;
    cursor: pointer;
}

.link_nav {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    font-weight: 600;
}