.loadingDiv {
    display: flex;
    flex-direction: column;
    position: absolute; 
    margin: 0;
    width: 100%;
    height: auto;
    z-index: 30;
}

.loading {
    width: 25rem;
    margin: 5rem auto auto auto;
}
