.background_creation {
    background-color: rgb(44, 13, 83);
    padding: 5% 2.5% 2.5% 2.5%;
}

.content_creation {
    display: flex;
    flex-direction: row;
}

.card_creation {
    width: 50vw;
    height: auto;
    justify-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 24px;
    border-radius: 0.5rem;
    background-color: rgb(29, 29, 29);
    box-shadow: 4px 4px 12px rgb(241 250 238 / 13%);
    transition-duration: .35s;
    margin: auto;
    color: rgb(231, 231, 231);
}

.img_creation {
    display: block;
    width: 30%;
    height: auto;
    object-fit: cover;
    border-radius: 0.4rem;
    margin: auto;
}