.paginatedBox {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: auto;
    margin: 2rem;
}

.button_pagination {
    background-color: rgba(31, 31, 31, 0.5);
    margin: 0.2rem;
    padding: 0;
    height: auto;
    width: 3rem;
    color: rgb(201, 201, 201);
    border-color: rgb(87, 2, 87);
    border-style: solid;
    border-radius: 1rem;
    border-width: 0.1rem;
    font-weight: 900;
    font-size: large;
    cursor: pointer;
}

.button_pagination:hover {
    background-color: rgba(87, 2, 87, 0.705);
    transition: 200ms;    
}

.button_currentPage {
    background-color: rgba(87, 2, 87, 0.705);    
}
