.content_about {
    background-color: black;
    position: relative;
    overflow: hidden;
    width: auto;
    height: 100vh;
    color: rgb(201, 201, 201);
}

.content_text_about {
    position: relative;
    margin: auto auto auto auto;
    background-color: rgba(31, 31, 31, 0.904);
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: flex-start;
    width: 50vw;
    height: 100vh;
    z-index: 1;
}

.description_about {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.image_about {
    height: auto;
    width: 15vw;
    border-radius: 1rem;
    margin: 0 auto auto auto;
}