.content_about {
    background-color: black;
    overflow: hidden;
    width: auto;
    color: rgb(201, 201, 201);
}

.content_text_about {
    position: relative;
    margin: auto;
    background-color: rgba(31, 31, 31, 0.904);
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: flex-start;
    width: 50rem;
    height: 40rem;
    z-index: 1;
}

.description_about {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.image_about {
    height: 8rem;
    border-radius: 1rem;
    margin: auto;
}

.video_about {
    margin: 0;
    size: 100vmax;
    position: fixed;
}