.background_detail {
    margin: 0;
    display: flex;
    justify-items: center;
    justify-content: center;
    position: relative;
}

.buttons_detail {
    position: absolute;
    bottom: 8.5rem;
    right: 22vw;
}

.image_button {
    background-color: rgba(0, 0, 0, 0);
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.card_detail {
    width: 60vmax;
    height: auto;
    margin: 2rem;
    padding: 0px;
    border-radius: 4rem;
    background-color: rgba(31, 31, 31, 0.904);
    color:  rgb(201, 201, 201);
    overflow: hidden;
    word-wrap: break-word;
}

.link_detail {
    text-decoration: none;
    color: rgb(201, 201, 201);
    font-family: "Poppins","Franklin Gothic Medium","Arial Narrow",Arial,sans-serif;
}

.img_detail {
    display: block;
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
}

.header_detail {
    font-weight: 1000;
    font-size: 2.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
}

.cardContent_detail {
    padding: 0.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.rating_released {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.text_end {
    margin-bottom: 3rem;
}

.card_text_detail {
    font-size: 1rem;
    letter-spacing: .1rem;
    line-height: 1.2;
}

.card_description {
    text-align: justify;
}

.rating_number_detail {
    background-color: rgba(245, 245, 245, 0.171);
    width: 4vw;
    height: 4vh;
    border-radius: 2rem;
    padding-top: 0.2rem;
}

.stars {
    margin-left: 1rem;
    margin-right: 1rem;
}

.card_rating_detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.star_rating_detail {
    color: rgb(255, 217, 0);
}

.button_back_detail {
    background-color: rgba(145, 8, 163, 0.5);
    background-image: linear-gradient(to right top, rgba(75, 75, 75, 0), rgba(145, 8, 163, 0.801));
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.705);
    color: gray;
    border-radius: 1.2rem;
    border-style: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.button_back_detail:hover {
    background-color: rgba(145, 8, 163, 0);
    color: lightgray;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0);
}
